<h1><%= @collection.title %></h1>

<p><%= @collection.description %></p>

<% if can? :update, Collection %>
  <%= link_to 'Edit', edit_collection_path(@collection) %> |
<% else %>
  <%= link_to 'Back', collections_path %>
<% end %>

<hr>

<% @routes.each do |route| %>
  <%= render 'routes/show', route: route %>
<% end %>
