<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="status">
    <%#= select("spot", "status", Spot.all.collect { |s| [ s.status ] } ) %>
    <%= form.select :status, Spot.statuses.keys %>
  </div>

  <div class="images">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="description">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="longitude">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="latitude">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="tags">
    <%= form.label :tags %>
    <%= form.text_field :tag_list %>
  </div>

  <% if @route %>
    <%= form.hidden_field :route_id, value: @route.id %>
  <% else %>
    <div class="route_id">
      <%= form.label :route_id %>
      <%= select("spot", "route_id", Route.all.collect { |r| [ r.title, r.id ] }, { include_blank: true }) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
