<p id="notice"><%= notice %></p>

<h2>Spots</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Route</th>
      <th>Tags</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= link_to spot.name, spot %></td>
        <td><%= spot.description %></td>
        <td><%= spot.route_id %></td>
        <td>
          <% spot.tag_list.each do |tag| %>
            <%= link_to tag, tagged_path(tag: tag) %>
          <% end %>
        </td>

        <td><%= link_to 'Edit', edit_spot_path(spot) %></td>
        <td><%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot', new_spot_path %>
