<div class="wrapper">

  <div class="route-page__wrapper">
    <div class="route-container">
      <div class="route-header">
        <h2>Все места</h2>
      </div>

        <% @spots.each do |spot| %>
          <div class="spots-sidebar">
            <div class="spots-container">
              <div class="spot-card">
                <div class="spot-image">
                  <% spot.spot_images.take(1).each do |image| %>
                    <%= image_tag image.image.url %>
                  <% end %>

                  <div class="spot-status">
                    <div class="body14"><%= spot.status %></div>
                  </div>
                </div>

                <div class="spot-info__container">
                  <div class="spot-header">
                    <div class="body16-bold"><%= spot.route.title %></div>
                    <div class="body18-bold"><%= link_to spot.name, spot.route %></div>
                    <div class="body14"><%= spot.description.truncate(70) + '...' %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>

    <div class="map-container--index">
      <div></div>
    </div>
  </div>

</div>
