<div class="spot_info">
  <div>
    <% if @spot.images.present? %>
      <%= image_tag @spot.images.url %>
    <% end %>
  </div>

  <p><%= @spot.route.title %></p>
  <h2><%= @spot.name %></h2>
  <p><%= User.find(@spot.route.user_id).nickname %></p>
  <p><%= @spot.status %></p>
  <p><%= @spot.description %></p>
  <p>
    <%= @spot.longitude %>
    <%= @spot.latitude %>
  </p>

</div>

<p>
  <%#= @spot.tag_list %>
  <% @spot.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %>
</p>

<% if can? :update, Spot %>
  <%= link_to 'Edit', edit_spot_path(@spot) %>
<% end %>
<%= link_to 'Back', spots_path %>
