<div class="wrapper">

  <h1 class="section__title"><%= @tag %></h1>

  <% @spots.each do |spot| %>
    <div class="block-container--spot">
      <div class="spot-block__wrapper">
        <div class="spot-block">
          <div id="label-s--bold"><%= spot.status %></div>
          <div id="body-l--bold"><%= link_to spot.name, spot.route %></div>
          <div id="body-m--bold"><%= spot.route.title %></div>

          <div id="body-s--bold" class="tag-list">
            <% spot.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag) %>
            <% end %>
          </div>
        </div>

        <div class="spot-image--small">
          <% spot.spot_images.each do |image| %>
            <%= image_tag image.image.url %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="body-m--bold" class="button-primary--back"><%= link_to 'Вернуться назад', request.referer %></div>
</div>
