<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Route</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.nickname %></td>
        <td><%= Route.find(comment.route_id).title %></td>
        <td><%= link_to 'Show', comment %></td>

        <% if can? :update, Comment %>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <% end %>

        <% if can? :destroy, Comment %>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Comment %>
  <%= link_to 'New Comment', new_comment_path %>
<% end %>
