<div class="wrapper">
  <h1>Список пользователей</h1>
  <div class="button-primary--back"><%= link_to 'Отправить инвайт', new_user_invitation_path %></div> <br>

  <div>
    <% @users.each do |user| %>
      <div>email: <%= user.email %></div>
      <div>nickname: <%= user.nickname %></div>
      <div>banned: <%= user.banned %></div>
      <div>role: <%= user.role %></div>
      <div>
        <% if user.invitation_token.present? %>
          invitation token: <%= user.invitation_token %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
