<div class="wrapper">
  <%#= link_to 'Новая точка', new_spot_path %>
  <div class="route-page__wrapper">
    <div class="route-container">
      <div class="route-header">
        <h2>Мои места</h2>
      </div>

        <% current_user.spots.each do |spot| %>
          <div class="spots-sidebar">
            <div class="spots-container">
              <div class="spot-card">
                <div class="spot-image">
                  <% spot.spot_images.take(1).each do |image| %>
                    <%= image_tag image.image.url %>
                  <% end %>

                  <div class="spot-status">
                    <div class="body14"><%= spot.status %></div>
                  </div>
                </div>

                <div class="spot-info__container-show">
                  <div class="spot-header">
                    <div class="body16-bold"><%= spot.route.title %></div>
                    <div class="body18-bold"><%= link_to spot.name, spot.route %></div>
                  </div>

                  <div class="buttons">
                    <div class="spot-edit">
                      <% if can? :update, Spot %>
                        <%= link_to 'Edit', edit_spot_path(spot) %>
                      <% end %>
                    </div>

                    <div class="spot-delete">
                      <% if can? :destroy, Spot %>
                        <%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>

    <div class="map-container--index">
      <div></div>
    </div>
  </div>

</div>
