<div class="wrapper">
  <%= link_to 'Новая точка', new_spot_path %>
  
  <h1 class="section__title">мои точки</h1>

  <% current_user.spots.each do |spot| %>
    <div class="block-container--spot">
      <div class="spot-block__wrapper">
        <div class="spot-block"">
          <div id="label-s--bold"><%= spot.status %></div>
          <div id="body-l--bold"><%= link_to spot.name, spot.route %></div>
          <div id="body-m--bold"><%= spot.route.title %></div>

          <div id="body-s--bold" class="tag-list">
            <% spot.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag) %>
            <% end %>
          </div>
        </div>

        <div class="spot-image--small">
          <% spot.spot_images.each do |image| %>
            <%= image_tag image.image.url %>
          <% end %>
        </div>
      </div>


      <% if can? :update, Spot %>
        <%= link_to 'Edit', edit_spot_path(spot) %>
      <% end %>

      <% if can? :destroy, Spot %>
        <%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
