<div class="section-wide">
  <div class="card-title">
    <div class="header-caption16">Заголовок</div>
    <h1>Большой <br> заголовок</h1>
  </div>
  <div class="info-container">
    <div class="header-caption16"><%= link_to '115 маршрутов', routes_url %></div>
    <div class="header-caption16"><%= link_to '402 места', spots_url %></div>
    <div class="header-caption16"><%= link_to '12 направлений' %></div>
  </div>
</div>

<div class="wrapper">
  <div id="second" class="section">
    <div class="section-heading">
      <span></span>
      <div class="section-header32">Летом в поход</div>
    </div>

    <div class="route-card__container">
      <% @routes.first(4).each do |route| %>
        <%= render 'routes/show', route: route %>
      <% end %>
    </div>
  </div>

  <div id="third" class="section">
    <div class="section-heading">
      <span></span>
      <div class="section-header32">Куда сходить на выходные?</div>
    </div>

    <div class="section-content-container">
      <div class="collection-container">
        <%= render 'collections/show', collection1: @collections[0], collection2: @collections[1], collection3: @collections[2] %>
      </div>

      <div class="places-container">
        <div class="section-header24">Интересные места</div>
          <% @spots.first(6).each do |spot| %>
            <%= render 'spots/show', spot: spot %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="section-wide">
  <div class="card-title">
    <div class="header-caption16">Заголовок</div>
    <h1>Большой <br> заголовок</h1>
  </div>
  <div class="info-container">
    <div class="header-caption16"><%= link_to '115 маршрутов', routes_url %></div>
    <div class="header-caption16"><%= link_to '402 места', spots_url %></div>
    <div class="header-caption16"><%= link_to '12 направлений' %></div>
  </div>
</div>

<div class="wrapper">

  <div id="third" class="section">
    <div class="section-heading">
      <span></span>
      <div class="section-header32">Куда сходить на выходные?</div>
    </div>

    <div class="section-content-container">
      <div class="places-container">
        <div class="section-header24">Интересные места</div>
          <% @spots.last(6).each do |spot| %>
            <%= render 'spots/show', spot: spot %>
          <% end %>
      </div>

      <div class="collection-container">
        <%= render 'collections/show', collection1: @collections[3], collection2: @collections[4], collection3: @collections[5] %>
      </div>

    </div>

    <div id="second" class="section">
      <div class="section-heading">
        <span></span>
        <div class="section-header32">С рюкзаком в горы</div>
      </div>

      <div class="route-card__container">
        <% @routes.last(4).each do |route| %>
          <%= render 'routes/show', route: route %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="banner-text">
    <h2>Есть идея классного маршрута?</h2>
    <div class="body18-bold">Если у тебя есть опыт создания маршрутов, напиши нам на наш email, опиши себя, свой опыт <br> и идею маршрута. Если нам понравится твоё предложение, мы свяжемся с тобой.</div>

    <div id="button" class="submit-idea">
      <div class="body16-bold">
        <%= mail_to 'tm-team@trailmap.com', 'Отправить идею', subject: "Идеи для маршрутов" %>
      </div>
    </div>
  </div>

  <div class="caption">trailmap © 2019-2020</div>
</div>
