<div class="session-page--wrapper">
  <h1 class="section__title--session-page">Вход</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field--email">
      <div class="body16">email</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'user@user.com' %>
    </div>

    <div class="field--password">
      <div id="label-s">пароль</div>
      <%= f.password_field :password, autocomplete: "current-password", :placeholder => 'testtest' %>
    </div>

    <div class="remember_me__wrapper">
      <% if devise_mapping.rememberable? %>
        <div class="remember_me__container">
          <%= f.check_box :remember_me %>
          <div id="body-m">Запомнить меня</div>
        </div>
      <% end %>
    </div>

    <div class="button--login-primary">
      <div id="body-l--bold"><%= f.submit "Войти" %></div>
    </div>
  <% end %>

  <div class="button--sign-up-secondary">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Регистрация", new_registration_path(resource_name) %><br />
    <% end %>
  </div>
  <%#= render "devise/shared/links" %>
</div>
