<p id="notice"><%= notice %></p>

<h1>Spot Images</h1>

<table>
  <thead>
    <tr>
      <th>Spot</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spot_images.each do |spot_image| %>
      <tr>
        <td><%= spot_image.spot_id %></td>
        <td><%= spot_image.image %></td>
        <td><%= link_to 'Show', spot_image %></td>
        <td><%= link_to 'Edit', edit_spot_image_path(spot_image) %></td>
        <td><%= link_to 'Destroy', spot_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot Image', new_spot_image_path %>
