<h1><%= link_to route.title, route %></h1>

<div class="route_cover">
  <% if route.cover.present? %>
    <%= image_tag route.cover.url %>
  <% end %>
</div>

<p><%= route.description %></p>

<p>
  <strong>Расстояние:</strong>
  <%= number_to_human(route.distance, units: :distance) %>
</p>

<p>
  <strong>Сложность:</strong>
  <%= route.difficulty %>
</p>

<p>
  <strong>Сезонность:</strong>
  <%= route.difficulty %>
</p>

<p>
  <strong>Тип маршрута:</strong>
  <%= route.kind %>
</p>

<% if can? :update, Route %>
  <%= link_to 'Edit', edit_route_path(route) %> |
<% end %>

<hr>
