<h1>Routes</h1>

<table>
  <thead>

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Distance</th>
      <th>Difficulty</th>
      <th>Season</th>
      <th>Kind</th>
      <th>Collection</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @routes.each do |route| %>
      <tr>
        <td><%= link_to route.title, route %></td>
        <td><%= route.description %></td>
        <td><%= route.distance %></td>
        <td><%= Difficulty.find(route.difficulty_id).level %></td>
        <td><%= Season.find(route.season_id).title %></td>
        <td><%= Kind.find(route.kind_id).title %></td>
        <td><%= link_to Collection.find(route.collection_id).title, collections_path %></td>
        <td><%= route.user.email %></td>

          <% if can? :update, Route %>
            <td><%= link_to 'Edit', edit_route_path(route) %></td>
          <% end %>

          <% if can? :destroy, Route %>
            <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Route %>
  <%= link_to 'New Route', new_route_path %>
<% end %>
