<div class="route_cover">
  <% if @route.cover.present? %>
    <%= image_tag @route.cover.url %>
  <% end %>
</div>

<h1><%= @route.title %></h1>
<p><%= @route.description %></p>

<p>
  <strong>Расстояние:</strong>
  <%= number_to_human(@route.distance, units: :distance) %>
</p>

<p>
  <strong>Сложность:</strong>
  <%= Difficulty.find(@route.difficulty_id).level %>
</p>

<p>
  <strong>Сезонность:</strong>
  <%= Season.find(@route.season_id).title %>
</p>

<p>
  <strong>Тип маршрута:</strong>
  <%= Kind.find(@route.kind_id).title %>
</p>

<!-- ROUTE INFO -->

<div>
  <strong>Что с собой взять:</strong>
  <p><%= @route.takeaway %></p>
</div>

<div>
  <strong>Как добраться:</strong>
  <p><%= @route.timetable %></p>
</div>

<div>
  <strong>Предупреждения:</strong>
  <p><%= @route.warning %></p>
</div>

<!-- ROUTE INFO -->

<h4><%= Collection.find(@route.collection_id).title %></h4>

<% if can? :update, Route %>
  <%= link_to 'Edit', edit_route_path(@route) %> |route_
<% end %>
<%= link_to 'Back', routes_path %>

<hr>

<%#= render 'spots/index' %>
<% @spots.each do |spot| %>
  <%= render 'spots/show', spot: spot %>
<% end %>

<% if can? :create, Spot %>
  <strong>Новая точка</strong>
  <%= render 'spots/form', spot: Spot.new %>
<% end %>

<%= render 'map', spots: @spots_for_map %>

<hr>
<div>
  <h2>Комментарии (<%= @route.comments.count %>)</h2>
  <% @route.comments.each do |comment| %>
    <%= render 'comments/show', comment: comment %>

    <%# if can? :update, Comment %>
      <%#= link_to 'Edit', edit_comment_path(comment) unless comment.new_record? %>
    <%# end %>
  <% end %>
</div>


<div>
  <% if can? :create, Comment %>
    <h4>Ваш комментарий</h4>
    <%= render 'comments/form', comment: Comment.new %>
  <% else %>
  <p>Войдите или зарегистрируйтесь, чтобы оставить комментарий</p>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end %>
</div>
