<!DOCTYPE html>
<html>
  <head>
    <title>Trailmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />

  </head>

  <body>
    <nav>
      <%= link_to 'Routes', routes_url %>
      <%= link_to 'Spots',  spots_url %>
      <%= link_to 'Collections', collections_url %>

      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
