<!DOCTYPE html>
<html>
  <head>
    <title>Trailmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>
      <div>
        <%= link_to 'Routes',      routes_url %>
        <%= link_to 'Spots',       spots_url %>
        <%= link_to 'Collections', collections_url %>
        <%= link_to 'Users',       users_index_url if can? :index, User %>
        <%= link_to 'Comments',    comments_url if can? :index, Comment %>
      </div>

      <div>
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
          <%= link_to 'Register', new_user_registration_path %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
